@charset "UTF-8";
body {
  margin: 0 !important;
  padding: 0 !important;
  /* reset mặt định of trang web */
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 930px;
  background: url("./banner.jpg") center no-repeat;
  background-size: cover;
  padding: 20px;
  /* ép ảnh vào trung tâm */
}
.banner .about-singin {
  height: 80px;
  width: 100%;
}
.banner .about-singin .about,
.banner .about-singin .singin {
  text-decoration: none;
  /* bỏ dấu gạch chân*/
  float: right;
  text-transform: uppercase;
  /*in hoa chữ */
}
.banner .about-singin .singin {
  padding: 10px 20px;
  margin-top: 47;
  margin-right: 287;
  margin-left: 61;
  border-radius: 20px;
  /*khung viền*/
  color: green;
}
.banner .about-singin .about {
  margin-top: 59px;
  color: black;
}
.banner .logo {
  background: url("./hapoERP.png") center no-repeat;
  height: 100px;
  margin-top: 170px;
}
.banner .content-center {
  text-align: center;
}
.banner .content-center .left,
.banner .content-center .right,
.banner .content-center .center {
  display: inline-block;
  /*cùng nằm trên 1 dòng*/
  /*  text-align: center;  căn giữa */
  margin-top: 25px;
  margin-bottom: 25px;
}
.banner .content-center .center {
  text-align: center;
  margin-left: 267px;
  margin-right: 267px;
}
.banner .content-center .left {
  margin-left: 42px;
}
.banner .content-center span {
  display: block;
  font-size: 42px;
}
.banner .content-center img {
  height: 45px;
  width: 45px;
}
.banner .text {
  text-align: center;
  margin-top: 30px;
}
.banner .text span {
  font-style: oblique;
  font-size: 20px;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  padding: 7px 15px;
  border-radius: 20px;
  margin-top: 25;
  cursor: pointer;
  /* bàn tay khi đưa chuột vào*/
}
.banner .btn-start-now .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.banner .btn-start-now .btn-1 {
  background: #060e83;
  background: linear-gradient(0deg, #060e83 0%, #0c19b4 100%);
  border: none;
}
.banner .btn-start-now .btn-1:hover {
  background: #0003ff;
  background: linear-gradient(0deg, #0003ff 0%, #027efb 100%);
}
